<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shengsiyuan.boot.mapper.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.shengsiyuan.boot.domain.UserInfo">
    <!--@mbg.generated-->
    <!--@Table userinfo-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="age" jdbcType="VARCHAR" property="age" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, age, phone
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from userinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from userinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shengsiyuan.boot.domain.UserInfo">
    <!--@mbg.generated-->
    insert into userinfo (id, `name`, age, 
      phone)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{age,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shengsiyuan.boot.domain.UserInfo">
    <!--@mbg.generated-->
    insert into userinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="phone != null">
        phone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shengsiyuan.boot.domain.UserInfo">
    <!--@mbg.generated-->
    update userinfo
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shengsiyuan.boot.domain.UserInfo">
    <!--@mbg.generated-->
    update userinfo
    set `name` = #{name,jdbcType=VARCHAR},
      age = #{age,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2021-03-29-->
  <select id="findByAge" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from userinfo
    where age=#{age,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2021-03-29-->
  <insert id="insertList">
    INSERT INTO userinfo(
    id,
    name,
    age,
    phone
    )VALUES
    <foreach collection="list" index="index" item="element" separator=",">
      (
      #{element.id,jdbcType=INTEGER},
      #{element.name,jdbcType=VARCHAR},
      #{element.age,jdbcType=VARCHAR},
      #{element.phone,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>
</mapper>